<h3 class="checkout-header">Confirm your address</h3>
<div class="content">
       <div class="form-group">
              <input type="street" class="form-control" id="autocomplete" placeholder="Street">

              <input type="city" class="form-control" id="inputCity" placeholder="City">

              <input type="state" class="form-control" id="inputState" placeholder="State">

              <input type="zip" class="form-control" id="inputZip" placeholder="Zip">

              <input type="county" class="form-control" id="inputCounty" placeholder="County">

              <input type="country" class="form-control" id="inputCountry" placeholder="Country">
       </div>
       <div class="checkout-TotalPrice">
             
              Total Price = {{quantities | currency}}
       </div>
       <div >
         <button class="checkout-placeorder">Place Order</button>
       </div>

</div>